body{
    font-family: "Playfair Display", serif;  
    color: #626262;
    font-size: 14px;  
    line-height: 24px;
    font-weight: normal; 
}
.wrapper{
    display: inline-block;
width: 1200px;
height: 2079px; 
margin: auto;
    }
.main-menu-item{
    display: inline-block;  
    }
.main-menu{
    text-transform: uppercase;
    list-style: none;
}
.main-menu-link{
    text-decoration: none;
}
.title{
    color:#b4ad9e;
    text-transform: uppercase;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 17px;
}
.info-title{
    font-size: 30px;
    line-height: 36px;
}
.button{
    font-size: 20px;
}